<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207515950154-esa2s1o6n6sg004ljsfi20bupe2scjmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207515950154-esa2s1o6n6sg004ljsfi20bupe2scjmo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207515950154-anao7ko1nhlm6imij67f2updspjfh15v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDe2hRX8_Ui8JLnTGTfpmIwfyvAokavWW8</string>
	<key>GCM_SENDER_ID</key>
	<string>207515950154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tessaMultiWebAdmin</string>
	<key>PROJECT_ID</key>
	<string>app-multi-store</string>
	<key>STORAGE_BUCKET</key>
	<string>app-multi-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207515950154:ios:f02a5096e25b0344e09ab3</string>
</dict>
</plist>